---
import Layout from "../layouts/Layout.astro";
import GameHistory from "../components/GameHistory.astro";
---

<!--

ゲーム遍歴、それらのゲームのアカウント情報（hoyolab,valoのtracker）
気になるゲームのリスト（steamのウィッシュリストでいいか？）

-->
<Layout title="武のサイト">
  <main><GameHistory /></main>
</Layout>

<style>
  main {
    /* margin: auto; */
    /* padding: 1rem; */
    /* width: 800px; */
    /* max-width: calc(100% - 2rem); */
    /* color: white; */
    /* font-size: 20px; */
    line-height: 1.6;
  }

</style>
