---

---

<div class="w-full pt-4 sm:pt-10 lg:pt-12">
  <footer class="mx-auto max-w-screen-2xl">
    <div class="py-8 text-center text-sm text-light-gray border-t border-light-gray">武 / take</div>
  </footer>
</div>
