---

---

<section class="relative w-full text-light-gray body-font">
  <div
    class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row"
  >
    <a
      href="#"
      class="relative z-10 flex items-center w-auto text-2xl font-extrabold leading-none select-none border-light-gray border-2 p-2"
      >武 / take</a
    >
  </div>
</section>
