---

---

<div class="progress-bg">
  <p id="progress-bar"></p>
</div>

<style>
  .progress-bg {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 2px;
    width: 100%;
    background-color: #494949;

    #progress-bar {
      position: absolute;
      height: 2px;
      width: 50%;
      background-color: #cc3150;
    }
  }
</style>
